.title {
    text-align: center;
    color: orange;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 0px;
}

.title p {
    font-size: 25px;
    font-weight: 700;
}