@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  

body {
  background-color: #f5f5f5;
}

h1 {
  font-family: 'Reem Kufi', sans-serif;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}